build/
build-sherpa/
build-board-pc/
build-board-pc-DEDGE_ENABLE_BGE_EMBEDDER=ON/
.cache/
__pycache__/
.pytest_cache/
tests/Testing/
*.pyc
*.o
*.so
*.a
*.wav
*.mp3
*.cmd
*.ko
*.mod
*.mod.c
*.order
*.symvers
models/
vector_db/
.env
.vscode/
.venv/
voice_input/
voice_output/
*.pcm
perf_logs/
build-bge/
third_party/onnxruntime-linux-*/
voice_session.log
build-rk3588-bge/
*.log
toolchain-shims/
toolchain-wrappers/
data/
Testing/
